@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@media screen and (max-width:320px) {
  .icentered{
    margin-left:2.5em !important;
  }
  .leftmargin{
    margin-left:1.5em !important;
  }
  .dcwidth{
    width:12em !important;
    font-size: 15px !important;
  }
}
@media screen and (min-width:321px) and (max-width:375px) {
  .icentered{
    margin-left:4em !important;
  }
    .leftmargin{
    margin-left:3em !important;
  }
}

@media screen and (min-width:376px) and (max-width:425px) {
  .icentered{
    margin-left:5em !important;
  }
    .leftmargin{
    margin-left:3em !important;
  }
}
@media screen and (min-width:426px) and (max-width:768px) {
  .icentered{
    margin-left:7em !important;
  }
    .leftmargin{
    margin-left:4em !important;
  }
}
@media screen and (min-width:769px) {
  .icentered{
    margin-left:8em !important;
  }
  .leftmargin{
    margin-left:4em !important;
    width:20em;
  }
  .lwidth{
    width:20em !important;
  }
    .dcwidth{
    width:20em !important;
  }
}

a {
    color: #000000 !important;
    text-decoration: none !important;
}

a:hover {
    color:#007B23 !important; 
    text-decoration:none; 
    cursor:pointer;  
}

body {
  background-color:#000000 !important;
  font-family: 'Lilita One', cursive !important;
  font-size: 1.1em !important;
}

.tsr{
  padding-right:1em;
}
.tsl{
  padding-left:1em;
}
.lwidth{
  width:18rem;
}
.card-width{
  width: 30rem;
}

.secbgcolor{
  background-color:#00FF94 !important;
}
.card {
  background-color:#FFECD6 !important;
  border:0 !important;
}

.hl {
  width:100px; margin: auto;
  background-color: #00FF94;
  border: 3px solid #00FF94;
  border-radius: 7px 7px 7px 7px;
  margin-bottom:20px;
}

.profile-picture {
    border:5px solid #00FF94;
    position:relative;
    overflow:hidden;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top:-190px
}

.profile-picture img {
    position:absolute;
    height: auto;
    width: auto;    
    max-width:50%;
}

.centered img {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
