/* CSS files add styling rules to your content */
#hoverIMG{
    display:none;
}
#reneIMG:hover #hoverIMG{
    display: block;
}
#reneIMG:hover #reneIMG{
    display:none;
}
.navbar .navbar-nav{
    margin-top: 2.5em;
    font-size: 1.4em;
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    text-transform:uppercase;
}

.btn{
    margin-bottom: 0.5em;
}
body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  